#nav-bar {
    background-color: white;
    display: flex;
   

}

ul {
    justify-content: center;
}

#nav-bar-links {
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    align-items: center;
    position: absolute;
    right: 10%;
}

#title {
    position: relative;
    top: -50px;
}


a { 
    text-decoration: none;
    
}

#burger-menu-div {
    cursor: pointer;
    position: relative;
    top: 2%;
}

.burger-menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#blackPaw {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2%;
    left: 5%;
    cursor: pointer;
}

.link {
    padding: 20px;
    list-style-type: none;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    color: black;


}

h1 {
    font-family: 'Comfortaa', cursive;
}

